*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* нужно проработать root 
погуглить 
как их вообще писать и создавать
для удобства */

body {
  background-color: #181818;
  width: 650px;
  margin: auto;
  font-family: Sans-serif;

}

.container {
  padding: 48px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  padding: 12px 24px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  color: #181818;
  background-color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  /* background-color: rgba(250, 243, 243, 0.2); */
}

/* header */
header {
  display: flex;
  justify-content: flex-end;
}

.header-button:not(:last-child) {
  margin-right: 12px;
}

/* body */
/* statistics */
.main {
  font-size: 32px;
  font-weight: 700;
  color: #ffd600;
}

.statistic {
  display: flex;
  margin-bottom: 12px;
}

#timer-output {
  font-size: 96px;
  align-self: center;
}

.blocks output {
  color: #fff;
}

/* Statistics controls */
.statistic-controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.statistic-button {
  background-color: #B40000;
  color: #fff;
}

/* session controls */
.session-controls {
  display: flex;
  padding-left: 88px;
}

.session-button:not(:last-child) {
  margin-right: 12px;
}

/* footer */
.contacts {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffd600;
}

.contacts a {
  padding-left: 4px;
  color:#B40000;
}